#album-cart-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  justify-items: stretch;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0px;
  width: auto;
}
